.project {
  margin: 20px auto 50px;
  position: relative;
}
.project__image {
  max-width: 100%;
  box-shadow: 0 0 4px 0 rgba($teal-darker, 0.25);
}
.project__button {
  position: absolute;
  right: -20px;
  bottom: -20px;
}
