.tagline {
  height: 45px;
  width: 295px;
  padding: 0 10px 8px;
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-transform: lowercase;
  background: $red;
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid $teal-lighter;
    position: absolute;
    left: -7px;
    top: 9px;
  }
  @media only screen and (min-width: $arya) {
    height: 68px;
    width: 511px;
    padding: 0 40px 8px;
    &:after {
      border-top: 35px solid transparent;
      border-bottom: 35px solid transparent;
      border-left: 35px solid $teal-lighter;
    }
  }
}
.tagline--bottom {
  position: absolute;
  bottom: 60px;
}
.tagline--right {
  position: absolute;
  right: -100%;
  transition: 0.8s;
  &.in-viewport {
    right: 0;
  }
}
.tagline--project {
  width: auto;
  height: auto;
  padding: 21px 10px 8px 40px;
  font-size: 36px;
  &:after {
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 35px solid $teal-lighter;
  }
}
