.headline {
  font-size: 48px;
  letter-spacing: 4px;
  line-height: 1;
  margin: 0;
}

.headline span {
  color: var(--gray);
  display: block;
  font-size: 24px;
  line-height: 1.35;
  margin-top: 12px;
}

@media only screen and (min-width: 768px) {
  .headline {
    font-size: 84px;
  }

  .headline span {
    font-size: 48px;
  }
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: calc(100vw - 44px); /* width + offset for social icons*/
}
