.project {
  border: 0px solid var(--gray);
  border-bottom-width: 1px;
  color: var(--black);
  display: block;
  padding: 24px;
  position: relative;
  text-decoration: none;
  transition: var(--transition);
}

.project:after {
  animation: gradientHover 2s ease-in-out infinite;
  background: linear-gradient(to right, #8DA1B9, #EF959C, #95ADB6);
  background-size: 200% 200%;
  bottom: 0;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  transition: var(--transition);
  width: 0;
}

.project:first-of-type {
  border-top-width: 1px;
}

.project:hover:after {
  width: 100%;
}

.project__title {
  margin-top: 0;
}

.project__description {
  margin: 0;
}
