.project {
  border: 0px solid var(--gray);
  border-bottom-width: 1px;
  color: var(--black);
  display: block;
  padding: 24px;
  text-decoration: none;
  transition: var(--transition);
}

.project:first-of-type {
  border-top-width: 1px;
}

.project:hover {
  border-bottom-color: transparent;
}

.project__title {
  margin-top: 0;
}

.project__description {
  margin: 0;
}
