.project-navigation {
  color: var(--black);
  display: flex;
  justify-content: space-between;
  margin: 128px 0;
}

.project-navigation__link {
  color: var(--black);
  transition: var(--transition);
  max-width: 48%;
}

.project-navigation__link:hover {
  color: var(--accent);
}

.project-navigation__link--right {
  text-align: right;
}
