/* Modal */
.modal__overlay {
  background-image: linear-gradient(148deg, rgba(15, 15, 15,0.04) 0%, rgba(15, 15, 15,0.04) 35%,rgba(113, 113, 113,0.04) 35%, rgba(113, 113, 113,0.04) 42%,rgba(210, 210, 210,0.04) 42%, rgba(210, 210, 210,0.04) 100%),linear-gradient(70deg, rgba(15, 15, 15,0.04) 0%, rgba(15, 15, 15,0.04) 25%,rgba(113, 113, 113,0.04) 25%, rgba(113, 113, 113,0.04) 30%,rgba(210, 210, 210,0.04) 30%, rgba(210, 210, 210,0.04) 100%),linear-gradient(65deg, rgba(15, 15, 15,0.04) 0%, rgba(15, 15, 15,0.04) 13%,rgba(113, 113, 113,0.04) 13%, rgba(113, 113, 113,0.04) 27%,rgba(210, 210, 210,0.04) 27%, rgba(210, 210, 210,0.04) 100%),linear-gradient(90deg, rgb(18,18,18),rgb(18,18,18));
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: var(--transition);
  width: 100vw;
}

.modal__card {
  background: var(--white);
  border-radius: var(--border-radius--large);
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.25);
  left: 50%;
  max-width: 640px;
  opacity: 0;
  padding: 48px 24px;
  pointer-events: none;
  position: fixed;
  top: 70%;
  transform: translate(-50%, -50%);
  transition: var(--transition);
  width: 95vw;
}

.modal.is-active .modal__overlay {
  opacity: 0.9;
}

.modal.is-active .modal__card {
  opacity: 1;
  pointer-events: all;
  top: 50%;
}

.modal__close-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

h2 {
  text-align: center;
  margin: 0 0 48px;
}

/* Form */
label {
  display: block;
  font-size: 12px;
}

input,
textarea {
  border: 1px solid var(--black);
  border-radius: var(--border-radius--small);
  display: block;
  font-size: 16px;
  margin: 6px 0 24px;
  padding: 12px;
  width: 100%;
}

textarea {
  height: 150px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button {
  background-color: var(--black);
  border: none;
  color: var(--white);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: var(--border-radius--large);
  letter-spacing: 1px;
}

/* Validation */
.errors__container:empty {
  margin: 0;
}

.errors__container {
  margin: 0 0 48px;
  padding: 0;
}

.errors__error-item {
  color: var(--error);
  list-style: none;
  text-align: center;
}

.errors__error-item:not(:last-of-type) {
  margin-bottom: 12px;
}

.success {
  margin: 0 0 48px;
  text-align: center;
}

.is-hidden {
  display: none;
  visibility: hidden;
}
