$teal-darker: #3e4e50;
$teal-dark: #305252;
$teal: #488286;
$teal-light: #708e92;
$teal-lighter: #aff2e7;
$red: #d33f49;
$white: #ffffff;
$teal-gradient: linear-gradient(315deg, #{$teal} 0%, #{$teal-dark} 100%);
