.gradient-link {
  animation: gradientHover 2s ease-in-out infinite;
  background: linear-gradient(to right, #8DA1B9, #EF959C, #95ADB6);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200% 200%;
  color: var(--black);
  transition: color var(--transition)
}

.gradient-link:hover {
  color: rgba(0, 0, 0, 0);
}

@keyframes gradientHover { 
  0% {
    background-position: left;
  }
  
  50% {
    background-position: right;
  }

  100% {
    background-position:left;
  }
}
