@font-face {
  src: url("./fonts/Literata-Regular.ttf") format("truetype");
  font-family: "Literata";
  font-weight: 400;
  font-style: normal;
}

:root {
  /* Fonts */
  --font: "Literata", "Georgia", serif;
  --normal: 400;

  /* Colors */
  --black: #121212;
  --gray: #3B3B3B;
  --white: #FFFFFF;
  --error: #8D021F;
  --accent: #5DA271;

  /* Shapes */
  --border-radius--large: 5px;
  --border-radius--small: 3px;

  /* Animations */
  --transition: 0.2s ease-in-out;
}

@keyframes drawDown {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font);
  margin: 0;
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  width: calc(100% - 48px);
}

@media only screen and (min-width: 768px) {
  .wrapper {
    max-width: 1200px;
    width: calc(100vw - 96px);
  }
}
