@font-face {
  src: url("./fonts/Literata-Regular.ttf") format("truetype");
  font-family: "Literata";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("./fonts/Literata-Italic.ttf") format("truetype");
  font-family: "Literata";
  font-weight: 400;
  font-style: italic;
}

@font-face {
  src: url("./fonts/Literata-Bold.ttf") format("truetype");
  font-family: "Literata";
  font-weight: 700;
  font-style: normal;
}

:root {
  /* Fonts */
  --font: "Literata", "Georgia", serif;
  --normal: 400;

  /* Colors */
  --black: #121212;
  --gray: #B7B7B7;
  --white: #FFFFFF;
  --error: #8D021F;
  --accent: #5DA271;

  /* Shapes */
  --border-radius--large: 5px;
  --border-radius--small: 3px;

  /* Animations */
  --transition: 0.2s ease-in-out;
}

@keyframes drawDown {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font);
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 28px;
  font-weight: normal;
  line-height: 1.15;
  margin: 0 0 16px;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 16px;
}

h3 {
  font-size: 22px;
  font-weight: normal;
  margin: 32px 0 16px;
}

p, li, a {
  font-size: 20px;
  line-height: 1.5;
}

p {
  margin: 0 0 16px;
}

li {
  margin: 0 0 8px;
}

a {
  color: var(--accent);
  position: relative;
  text-decoration: none;
}

a:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  background-color: var(--accent);
  bottom: 1px;
  left: 0;
  transition: var(--transition);
}

a:hover:after {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  padding: 144px 48px 0 0;
  width: calc(100% - 48px);
}

.content {
  padding-bottom: 64px;
  max-width: 795px;
}

.section {
  margin-bottom: 64px;
}

@media only screen and (min-width: 768px) {
  .content {
    padding-bottom: 144px;
  }

  .wrapper {
    max-width: 1200px;
    width: calc(100vw - 96px);
  }
}
