$navy: #2a3d45;
$coral: #c17c74;
$rose: #c9ada1;
$sage: #a0a083;
$pearl: #eae0cc;

// stealing shit from Bootstrap
// RIP Rickon, but not really, you sucked.
$bran: 576px;
$arya: 768px;
$sansa: 992px;
$jon: 1200px;
// RIP Robb

$serif: 'Roboto Slab', 'Garamond', serif;
$sans: 'Open Sans', 'Verdana', sans-serif;