.section-heading {
  display: flex;
  align-items: baseline;
  .icon {
    width: 200px;
    max-width: 30%;
    margin-right: 25px;
  }
  h2 {
    font-family: $serif;
    font-weight: 100;
    color: $navy;
    text-transform: lowercase;
    font-size: 18px;
    .emphasis {
      color: $sage;
      font-weight: 300;
      letter-spacing: 2px;
      font-size: 24px;
    }
    @media only screen and (min-width: $bran) {
      font-size: 24px;
      .emphasis {
        font-size: 44px;
      }
    }
    @media only screen and (min-width: $arya) {
      font-size: 32px;
      .emphasis {
        font-size: 78px;
      }
    }
  }
}