/*
 * Backgrounds
 */
.bg-tealdarker {
  background-color: $teal-darker;
}
.bg-tealdark {
  background-color: $teal-dark;
}
.bg-teal {
  background-color: $teal;
}
.bg-teallight {
  background-color: $teal-light;
}
.bg-teallighter {
  background-color: $teal-lighter;
}
.bg-red {
  background-color: $red;
}
.bg-white {
  background-color: $white;
}
.bg-teal-gradient {
  background: $teal-gradient;
}

/*
 * Font Colors
 */
.color-tealdarker {
  color: $teal-darker;
}
.color-tealdark {
  color: $teal-dark;
}
.color-teal {
  color: $teal;
}
.color-teallight {
  color: $teal-light;
}
.color-teallighter {
  color: $teal-lighter;
}
.color-red {
  color: $red;
}
.color-white {
  color: $white;
}
