.is-marginless {
  margin: 0;
}
.is-paddingless {
  padding: 0;
}
$space-amounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100, 175);
$sides: (top, bottom, left, right);
@each $space in $space-amounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px;
    }
    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px;
    }
  }
}
