.hidden-on-mobile {
  display: none;
  visibility: hidden;
  @media only screen and (min-width: $arya) {
    display: block;
    visibility: visible;
  }
}
.hidden-on-desktop {
  @media only screen and (min-width: $arya) {
    display: none;
    visibility: hidden;
  }
}
